<footer id="footer" class="clearfix home3" style="background-color: rgba(118,163,158,0.78)">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="widget widget-logo">
                    <div class="flat-box">
                        <div class="logo-footer mt-15" id="logo-footer">
                            <a href="{{ 'inicio' | page }}">
                                <img id="logo_footer" src="{{ 'logoN-min.png' | media }}" alt="Natal solidario" width="55%" height="55%"
                                     data-retina="assets/images/logo/logo_dark@2x.png" data-width="135"
                                     data-height="56">
                            </a>
                        </div>
                        <p class="sub-widget-logo">Faça parte dessa comunidade que foca em fazer feliz crianças que precisam</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 col-mobi">
                <div class="widget widget-menu style-1">

                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="widget widget-menu style-3">
                    <h3 class="title-widget">Recursos </h3>
                    <ul class="link-style-1">
                        {% if user %}
                        <li><a href={{ '' }}>Adotar criança</a></li>
                        <li><a href={{ '' }}>Minha criança</a></li>
                        {% endif %}
                        <li><a href={{ '' }}>contato</a></li>
                    </ul>
                </div>
            </div>
            {% if user %}
            <div class="col-lg-2 col-md-3 col-6">
                <div class="widget widget-menu style-4">
                    <h3 class="title-widget">Minha conta</h3>
                    <ul class="link-style-1">
                        <li><a href={{ 'conta' | page }}>Atualizar dados </a></li>
                        <li><a href="{{ 'mudar-senha' | page }}">Mudar senha </a></li>
                        <li><a href={{ 'registro' | page }}>Cadastrar-se </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer><!-- /#footer -->
<div class="widget-social-footer home3">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="widget widget-menu bottom">
                    <ul class="flex link-style-1">
                        <li><a href={{ '' }}>Sobre</a></li>
                        {% if user %}
                        <li><a href={{ 'conta' | page }}>Conta</a></li>
                        {% endif %}
                        <li><a href={{ 'inicio' | page }}>Inicio</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="title-bottom font text-color-4">© 2022 NFT by <a href="https://themeforest.net/user/themesflat/portfolio" class="text-color-3 footC ">@ThemesFlat</a>. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>
