<header id="header_main" class="header_1 js-header " >
    <div class="themes-container " >
        <div class="row">
            <div class="col-md-12">
                <div id="site-header-inner">
                    <div class="wrap-box flex">
                        <div id="site-logo" class="clearfix">
                            <div id="site-logo-inner">
                                <a href="/" rel="home" class="main-logo">
                                    <img id="logo_header" src="{{'logoN-min.png' | media }}" alt="nft-gaming" width="130" height="130"
                                         data-retina="{{'assets/images/logo/logo_dark@2x.png' | theme}}" data-width="133"
                                         data-height="56">
                                </a>
                            </div>
                        </div>
                        <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
                        <nav id="main-nav" class="main-nav ">
                            <ul id="menu-primary-menu" class="menu">
                                <li>
                                    <a href="#">Inicio</a>

                                </li>
                                <li>
                                    <a href="#">Adote sua criança</a>
                                </li>

                                <li class="menu-item menu-item-has-children">
                                    <a href="#">informações</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#">Sobre</a></li>
                                        <li class="menu-item"><a href="#">perfil </a></li>
                                        <li class="menu-item"> <a href="#">Equipe</a> </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Minha Criança</a>
                                </li>
                            </ul>
                        </nav><!-- /#main-nav -->
                        <div class="flat-search-btn flex gap-button-menu">
                            <div class="sc-btn-top" id="site-header">
                                <a href="connect-wallet.html" class="sc-button header-slider style wallet fl-button pri-1"><span>Login</span></a>
                            </div>
                            <br>
                            <div class="sc-btn-top" id="site-header">
                                <a href="connect-wallet.html" class="sc-button header-slider style wallet fl-button pri-1"><span>Cadastrar-sé</span></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
